@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
<header><center><h2>Convertir les distances en ligne !</h2></center></header>
<form asp-controller="HomeController" asp-action="ConwvertKilometersToMiles" method="post">
    <h4>
        <justify>
            Notre site permet de convertir des distances avec différentes unités de mesure telles que :
            <p><li>les kilomètres,</li></p>
            <p><li>les pieds,</li> </p>
            <p><li>les pouces</li></p>
            <p><li>et les yards.</li></p>
            <p>Par exemple, après avoir choisi l'unité de conversion désirée, il vous suffira d'entrer le chiffre à convertir pour que le calcul soit fait automatiquement.</p>
        </justify>
    </h4>

</form>

