<form action="Page de traitement" method="post">
    <style>
        form {
            margin: 0px;
            width: auto;
            padding: 1em;
            border: 1px solid #ff6a00;
            margin-top: 1em;
        }
        label {
            display: inline-block;
            text-align: center;
        }
        input + textarea {
            font: 1em arial;
            width: auto;
            box-sizing: border-box;
            border: 1px solid #808080;
        }
        textarea {
        vertical-align: top;
        height: 1em;
        }
        button 1 {
            padding-left: initial;
        }
        button 2{
            margin-left: 5em;
        }
    </style>
    <header>Converteur</header>
    <div>
        <label>Kilomètre to miles :</label>
        <input type="text" name="First tilte" />
        <textarea>Entrez vos données ici</textarea>
        <textarea id="firstconverter" name="user_converter"></textarea>
        <div class="button">
            <button type="submit">Convertir</button>
        </div>
    </div>

    <div>
        <label>Miles to kilomètre :</label>
        <input type="text" name="Second tilte" />
        <textarea>Entrez vos données ici</textarea>
        <textarea id="secondconverter" name="user_converter"></textarea>
        <div class="button">
            <button type="submit">Convertir</button>
        </div>
    </div>
</form>